#rightbar-toggle
  background-color: transparent;

.avatar-mood-neutral
.avatar-mood-happy
.avatar-mood-sad
.avatar-mood-smart
.avatar-mood-smile
.avatar-mood-angry
.avatar-mood-cheeky
.avatar-mood-helpless
.avatar-mood-sleeping
.avatar-mood-uneasy
.avatar-mood-wink
  
  transition: all 0.3s ease
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;

.avatar-mood-neutral
  background-image: url('../img/avatar/kat-neutral.png');

.avatar-mood-happy
  background-image: url('../img/avatar/kat-happy.png');
  transform: translate(0px, -10px);

.avatar-mood-sad
  background-image: url('../img/avatar/kat-sad.png');
  transform: translate(0px, 10px);

.avatar-mood-smart
  background-image: url('../img/avatar/kat-smart.png');
  transform: scale(1.2);

.avatar-mood-smile
  background-image: url('../img/avatar/kat-smile.png');

.avatar-mood-angry
  background-image: url('../img/avatar/kat-angry.png');

.avatar-mood-cheeky
  // background-image: url('../img/avatar/kat-cheeky.png');
  background-image: url('../img/avatar/kat-happy.png');

.avatar-mood-helpless
  background-image: url('../img/avatar/kat-helpless.png');

.avatar-mood-sleeping
  background-image: url('../img/avatar/kat-sleeping.png');

.avatar-mood-uneasy
  background-image: url('../img/avatar/kat-uneasy.png');

.avatar-mood-wink
  background-image: url('../img/avatar/kat-wink.png');
  transform: rotate(10deg);
