.text
  p
    margin-bottom: 1em
  h1,h2,h3,h4,h5
    margin: 1em 0

.alert.alert-warning,
.alert.alert-info,
  margin: 1em

.inline-block
  display: inline-block

.next-button-highlight
  animation: connect-bounce-outwards 0.8s 500000 ease-in-out

.help02-1, .help02-2
  width: 100%

  .btn
    margin: 10px
  .good.selected
    background-color: green;
  .bad.selected
    background-color: red;

.help03-1, .help04-1 , .help05-1, .ex02, .ex03, .help05-2
  width: 100%;
  padding: 0 1em
  .yes, .no
    float: left
    width: 6em

.help06-1-1, .working3
  .item
    color: #fff
    float: left
    margin: 8px 20px 10px 0
    padding: 5px 10px
    min-width: 10px
    background-color: #5F9EDF
    text-align: center
    display: block

  .done .item
    background-color: #88DF88

.help06-1-2 .item
  margin-left: 3em

.help07-1
  .item
    color: #fff
    float: left
    padding: 5px 10px
    min-width: 10px
    background-color: #5F9EDF
    text-align: center
    margin: 1px

  .bucket
    background: #ddd
    border: 1px solid #bbb
    border-radius: 10px
    display: block

    .items
      padding: 1em
      min-height: 4em

  .in-good-bucket
    // background-color: #0A0

  .in-bad-bucket
    background-color: #A00

  .bucket
    &.all-in.no-bad-items-inside
      background-color: #bfb

.help08-1, .help08-2
  .split-in-syllables-container
    .split-in-syllables-letter, .split-in-syllables-separator
      padding: 15px !important

.help08-2
  .split-in-syllables-letter, .split-in-syllables-separator
    font-size: 100%

  // Basic styling:

.help09-1
  .dropspot
    min-height: 3.2em // This needs to be set since .item-s are absolutely positioned
    .btn
      margin-top: 0.3em

  .wordwell // Matching styles
    min-height: 3.2em
    .btn
      margin-top: 0.3em

  .items .col-sm-6 .row // Some spacing
    margin-bottom: 0.7em
    margin-top: 0.5em

  .hint // Hide the hint when not empty
    display: none

.help09-1.empty // And show it when empty
  .hint
    display: inline

// Animations:

@keyframes red-text-flash
  0% { color: red }
  22% { color: red }
  100% { color: auto }

@keyframes red-flash
  0% { background-color: red; color: #fff }
  22% { background-color: red; color: #fff }
  100% { background-color: auto }

@keyframes green-text-flash
  0% { color: green }
  22% { color: green }
  100% { color: auto }

@keyframes green-flash
  0% { background-color: green; color: #fff }
  22% { background-color: green; color: #fff }
  100% { background-color: auto; color: auto }

.help09-1.bad
  .dropspot .item
    animation: red-flash 0.5s 1 linear

.help09-1.already-submitted
  .word.last
    animation: red-text-flash 1.5s 1 linear

.help09-1.good
  button[data-target="combine-syllables.validate"]
    animation: green-flash 0.5s 1 linear

  .word.last
    animation: green-text-flash 1.5s 1 linear

.connect-points.help10-1
    .choice
      width: 100%
      background-color: #5f9edf
      color: white
      margin-bottom: 1em
      padding: 0.3em 1em

    .choice.hover
      background-color: #5187bf // a bit darker

    div[data-group='arab'] .choice
      text-align: right
