.tableofcontents 
  .title
    font-weight bold

.minitoc
  ul
    font-family: sans-serif
    a.subtitled .title
      line-height: 1.2em
    li:hover > a, li.active > a
      background-color: #4e4e4e
.lf-ch01
  .minitoc li > a
    background: #4e4e4e

.lf-ch02
  .minitoc li > a
    background: #4e4e4e