lfa-framework()
@import '../addons/lfa-backstage/css/main'
@import '../addons/lfa-exercises/css/main'
@import '_avatar'
@import '_toc'
@import '_exercises'

.center
  @extends .text-center

.justify
  @extends .text-justify

.right
  @extends .text-right

html[dir='rtl'] 
  .progress-bar
    float: right
  .item
    float: right