lfa-framework()
@import '../addons/lfa-backstage/css/main'
@import '../addons/lfa-exercises/css/main'
@import '_avatar'
@import '_toc'
@import '_exercises'

.center
  @extend .text-center
.justify
  @extend .text-justify
.right
  @extend .text-right

