+article("1.1. מה יש בספריית האוניברסיטה הפתוחה")
  +section("1.1. מה יש בספריית האוניברסיטה הפתוחה")
    h1 1.1. מה יש בספריית האוניברסיטה הפתוחה 
    p.justify Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
    
    +pickone(3, ['Bulgakov', 'Creangă', 'Shakespeare', 'Shaw', 'Goldoni', 'Molière'], {
      name: 'help1-1',
      ignoreAvatar: false,
      description: 'Who wrote Hamlet?',
      hints: {
        4: 'He is an English author',
        6: 'His name contains the letter K'
      }})
      p Who wrote Hamlet? 
        span.btn.btn-default.trigger

    .aside-box
      +select-to-highlight({
          name: 'help02-1',
          irritationLevel: 5,
          ignoreAvatar: false
        })
        p Select the odd numbers and the vowels below. Avoid consonants and even numbers!
        .progress-box

        .btn.btn-lg.bad 2
        .btn.btn-lg.good A
        .btn.btn-lg.bad H
        .btn.btn-lg.good 7
        .btn.btn-lg.good 3
        .btn.btn-lg.bad C
        .btn.btn-lg.bad 8
        .btn.btn-lg.good E
    center
      .row
        .col-md-3.hidden-xs
        .aside-box.col-md-6.col-xs-12
          +exercise({name: 'help03-1'})

            .row
              .col-xs-1
                .is-done-box
              .col-xs-1
                .score-box
              .col-xs-10
                .progress-box

            +yesno({answer: false, name:'help03-1-1', yes: 'Yes', no: 'No'})
              p Has man landed on Mars, yet? (year is 2014 :) )

            +yesno({answer: true, name:'help03-1-1', yes: 'True', no: 'False'})
              p Tomatoes are actually fruits.

            +yesno({answer: false, name:'help03-1-1', yes: 'recieve', no: 'receive'})
              p How is this word written?