+article("3.2. 3 אפשרויות להגיע למאמר")
  +section("3.2. 3 אפשרויות להגיע למאמר") 
    h1 3.2. 3 אפשרויות להגיע למאמר  
    <a href="http://goanimate.com/videos/0yioYZN7kVe4?utm_source=embed" target="_blank">3 Options</a> by <a href="http://goanimate.com/user/0NISa-1Bzeag" target="_blank">Openu</a> on <a href='http://goanimate.com?utm_source=embed' target="_blank">GoAnimate</a><br /><iframe    scrolling="no"    allowTransparency="true"    frameborder="0"    width="400" height="225"    src="http://goanimate.com/player/embed/0yioYZN7kVe4?utm_source=social&utm_medium=tumblr&utm_campaign=usercontent"></iframe>