+article("מחיפוש חכם לרשימת המקורות שלי")
  +section("מקורות מידע אלקטרוניים")
    ol 
      li מקורות מידע אלקטרוניים
      li מאגרי מכון סאלד 
      li מאגרים בינלאומיים 
      li מפתח חיפה למאמרים בעברית 